p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercise:not(span) {
	background-color: #ffeeee;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #ffaaaa;
}

.hypothesis:not(span) {
	background-color: #eeffee;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #aaffaa;
}

.sourceCode, pre {
	border-radius: 5px;
}

.summary {
	background-color: #ffc8c4;
}